<ion-card>
  <ion-card-header>
    <ion-card-title>{{patientLabel}} Patient</ion-card-title>
  </ion-card-header>
<ion-card-content class="form-content">
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <!-- Patient Information -->
    <ion-card class="form-card">
      <ion-card-header class="card-header">
        <ion-card-title>Patient Information</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Age</ion-label>
          <ion-input type="number" formControlName="age" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Gender</ion-label>
          <ion-select interface="popover" formControlName="gender" placeholder="Select Gender">
            <ion-select-option [value]="1">Male</ion-select-option>
            <ion-select-option [value]="2">Female</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input formControlName="address" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Complaint</ion-label>
          <ion-input formControlName="complaint" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Medical History</ion-label>
          <ion-textarea formControlName="medical_history" required></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Investigation</ion-label>
          <ion-textarea formControlName="investigations" required></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Diagnosis</ion-label>
          <ion-textarea formControlName="diagnosis" required></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Treatment Plan</ion-label>
          <ion-textarea formControlName="treatment_plan" required></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Remarks Section -->
    <ion-card class="form-card">
      <ion-card-header class="card-header">
        <ion-card-title>Remarks</ion-card-title>
      </ion-card-header>
      <ion-card-content class="card-content">
        <ion-item>
          <ion-label position="floating">Remarks</ion-label>
          <ion-textarea formControlName="remarks" required></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Old Patient</ion-label>
          <ion-toggle formControlName="old_patient"></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>

  
    <ion-button slot="start"  type="submit" fill="clear" [disabled]="!patientForm.valid"  class="gradient-button">
      <ion-icon name="checkmark-circle-outline"></ion-icon> Save Patient
    </ion-button>
    <ion-button slot="end"  (click)="resetForm()" class="action-btn">
      <ion-icon name="refresh-outline"></ion-icon> Reset
    </ion-button>
  </form>
</ion-card-content>
</ion-card>


